$black: #000000;
$darkgrey: #666666;
$gray: #999999;
$silver: #CCCCCC;
$navy: #0f2b8e;
$white: #FFFFFF;
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px);
h1 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 0;
}

h4 {
    font-weight: 700;
    font-size: 24px;
}

h5 {
    font-weight: 700;
    font-size: 20px;
}

.font-size-16px {
    font-size: 16px;
}

.font-size-20px {
    font-size: 20px;
}

.font-size-24px {
    font-size: 24px;
}

.font-size-96px {
    font-size: 96px;
}

.pb-32px {
    padding-bottom: 32px;
}

.border-bottom {
    border-bottom: 1px solid #F5F5F5;
    width: 276px;
}

.border-bottom {
    border-bottom: 1px solid #CCCCCC;
}

.text-dark {
    color: $darkgrey!important;
}